<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.funders">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Funders">
        <activity android:name=".ui.investor.InMarketFormActivity"></activity>
        <activity android:name=".ui.investor.InFundFormActivity" />
        <activity android:name=".ui.investor.InUserInfoActivity" />
        <activity android:name=".ui.investor.InWelcomeActivity" />
        <activity android:name=".ui.SignInActivity" />
        <activity android:name=".ui.FinishSignupActivity" />
        <activity android:name=".ui.entrepreneur.EnFundFormActivity" />
        <activity android:name=".ui.entrepreneur.EnCompanyFormActivity" />
        <activity android:name=".ui.entrepreneur.EnUserInfoFormActivity" />
        <activity android:name=".ui.entrepreneur.EnWelcomeActivity" />
        <activity android:name=".ui.ChooseRoleActivity" />
        <activity android:name=".ui.SignUpActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>